<div class="trippage">
  <h1>Trip Name</h1>
  <h3>Date</h3>
  <div class="members">
    <p>Names</p>
  </div>

  <input class="search" placeholder="Search"></input>
  
  <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Sort by
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="base.html?#/trip">Name</a></li>
    <li><a href="base.html?#/trip">Date</a></li>
    <li><a href="base.html?#/trip">Upvotes</a></li>
  </ul>
</div>

  <button>Add Activity</button>

  <div class="eventcard">
    <img src="../img/ebsample.jpg">
    <h2>Event name</h2>
    <p>Event description</p>
    <p>Posted by Matt Jonson</p>
    <div class="voting">
      <img class="up" src="img/upvote.png">
      <p class="upnum">4</p>
      <img class="down" src="img/downvote.png">
      <p class="downnum">4</p>
    </div>
  </div>

</div>